[Desktop Entry]
Name=github.com/nbeaver/disable-blinking-wifi-light
Type=Link
URL=https://github.com/nbeaver/disable-blinking-wifi-light
Icon=text-html

